@{
    ViewData["Title"] = "Confirm Email";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            @if (ViewBag.IsSucceeded == true)
            {
                <div class="alert alert-success" role="alert">
                    Your Email Has been vertified Succuessfully!
                </div>
            }
            else
            {
                <p>Ops,Something Went Wrong!</p>
            }




        </div>
    </div>
</div>